@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --nav-width: 68px;
  --first-color: rgb(78, 149, 177);
  --first-color-light: #bfcfbc;
  --white-color: #f7fbf6;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  position: relative;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}
a {
  text-decoration: none;
}

.button{
  
    border-radius: 10px;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  background-color: #6b6b6b;

}
.queueButton {
    margin-right: 300px;
  
  }


.right{
  position:relative;
}
.left{
  text-align: left;
  left: 0px;
}

.backlink {
  padding-left: 5px;
  padding-top: 5px;
}
i {
  color: var(--white-color);
}
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
  box-shadow: 3px 3px 10px rgba(68, 65, 65, 0.288);
}
.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.sub_list {
  padding-left: 10px;
}
.sub_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 5px;
  padding: 0.5rem 0 0.5rem 1.5rem;
  color: var(--first-color-light);
}
.sub_link:hover {
  color: var(--white-color);
}
.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.nav_logo {
  margin-bottom: 2rem;
}
.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
  font-size: 17px;
}
.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-top: 1.5rem;
  transition: 0.3s;
}
.nav_link:hover {
  color: var(--white-color);
}
.nav_icon {
  font-size: 1.25rem;
}
.shownav {
  left: 0;
}
.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}
.active {
  color: var(--white-color);
}
.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}
.height-100 {
  height: 100vh;
}
.body-background {
  background-color: #212529;
}
@media screen and (min-width: 768px) {
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
  .shownav {
    width: calc(var(--nav-width) + 200px);
  }
  .body-pd {
    padding-left: calc(var(--nav-width) + 210px);
  }
}

.info{
  width: 14rem;


}
.fa-solid.fa-rotate-right.rotate {
  transform: rotate(360deg);
  transition: transform 0.3s linear;
}

.content {
  position: relative;
}
.title {
  padding-top: 50px;
  margin-left: 50px;
}
.submenu {
  margin-left: 65px;
  margin-right: 65px;
}

.subtitle {
  padding-top: 10px;
}

.bg-blue-head {
  background-color: rgb(78, 149, 177,0.5);
}
.bg-blue {
  background-color: rgba(78, 149, 177, 0.3);
}
.bg-green {
  background-color: rgba(52, 172, 58, 0.3);
}
.bg-red {
  background-color: rgba(173, 53, 53, 0.3);
}

.accordionView {
  padding-top: 30px;
}

.accordionbutton {
  padding: 15px 60px;
  text-align: right;
  color: rgb(200, 200, 200);
}

.accordionbutton:hover {
  color: rgb(255, 255, 255) !important;
}
.accordionbutton[aria-expanded="true"] {
  color: rgb(255, 255, 255) !important;
}

.accordion-button::after {
  text-align: center;
  position: absolute;
  right: 20px;
  z-index: 2 !important;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 50 50'%3E%3Cpath fill='%23fff' d='M 44.984375 12.96875 C 44.453125 12.984375 43.953125 13.203125 43.585938 13.585938 L 25 32.171875 L 6.414063 13.585938 C 6.035156 13.199219 5.519531 12.980469 4.976563 12.980469 C 4.164063 12.980469 3.433594 13.476563 3.128906 14.230469 C 2.820313 14.984375 3.003906 15.847656 3.585938 16.414063 L 23.585938 36.414063 C 24.367188 37.195313 25.632813 37.195313 26.414063 36.414063 L 46.414063 16.414063 C 47.007813 15.84375 47.195313 14.964844 46.875 14.203125 C 46.558594 13.441406 45.808594 12.953125 44.984375 12.96875 Z'/%3E%3C/svg%3E") !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 50 50'%3E%3Cpath fill='%23fff' d='M 44.984375 12.96875 C 44.453125 12.984375 43.953125 13.203125 43.585938 13.585938 L 25 32.171875 L 6.414063 13.585938 C 6.035156 13.199219 5.519531 12.980469 4.976563 12.980469 C 4.164063 12.980469 3.433594 13.476563 3.128906 14.230469 C 2.820313 14.984375 3.003906 15.847656 3.585938 16.414063 L 23.585938 36.414063 C 24.367188 37.195313 25.632813 37.195313 26.414063 36.414063 L 46.414063 16.414063 C 47.007813 15.84375 47.195313 14.964844 46.875 14.203125 C 46.558594 13.441406 45.808594 12.953125 44.984375 12.96875 Z'/%3E%3C/svg%3E") !important;
  --bs-accordion-btn-padding-x: 50px;
}

.accordion-button:hover {
  background-color: rgb(60, 68, 75, 0.5) !important;
}
.links {
  background-color: rgb(60, 68, 75, 0.5) !important;
  padding: 8px 0px;
}

.disabled-accordion-button,
.disabled-accordion-button:hover,
.disabled-accordion-button:active {
  background-color: rgb(60, 68, 75, 0.5) !important;
  border-color: rgb(60, 68, 75, 0.5) !important;
  border-radius: 0px !important;
}

.accordion {
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0 rgba(4, 167, 4, 0.25);
  --bs-accordion-btn-focus-border-color: rgba(78, 149, 177,0.8);
  --bs-accordion-border-color: rgba(78, 149, 177,0.8);
  --bs-accordion-active-bg: rgb(60, 68, 75, 0.5);
  --bs-accordion-btn-bg: rgb(60, 68, 75, 0.5);
  --bs-accordion-active-color: #fff;
  --bs-accordion-icon-color: #fff;
  --bs-accordion-icon-active-color: #fff;
}

.btn-teracotta {
  background-color: rgba(226, 114, 91, 1);
  color: white;
  /* background-color: rgba(247, 231, 206, 1); */
}

.btn-teracotta:hover,
.btn-teracotta:active {
  background-color: rgb(226, 139, 123) !important;
  color: white !important;
}

.accordion-body {
  --bs-accordion-body-padding-x: 0px;
  --bs-accordion-body-padding-y: 10px;
}

::marker {
  color: transparent!important;
}

.barcodeinfo{
  margin-left:4rem;
  text-align: left;
  float: left;

}

.videoselect{
  position: absolute;
  top: 2rem;
  right: 0;
}
.username{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}
