<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>101010</title>
    <link rel="icon" type="image/image" href="/img/icon_totenkopf.png" />
    <link rel="stylesheet" type="text/css" href="/css/error.css" />
  </head>
  <body>
    <div class="card">
        <h1 class="fs">Error: {{errorCode}}</h1>
      <img
        src="https://i.giphy.com/media/pkYigxymEkV44/giphy.webp"
        width="480"
        height="360"
      ></img>
      <h1>{{error}}</h2>
    </div>
  </body>
</html>
