<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Inventory4ce</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/livesearch.js"></script>
  </head>

  <body class="body-pd body-background">
    <div class="content text-white">
      <div class="d-flex justify-content-between mb-3 text-white">
        <form id="live-search" action="" class="styled" method="post">
          <fieldset>
            <h1>Live Search</h1>
            <input
              type="text"
              class="text-input"
              id="filter"
              placeholder="search"
            />
            <span id="filter-count"></span>
          </fieldset>
        </form>

        <nav>
          <ul class="liveSearchBar">
            <li><a href="#">Jim James</a></li>
            <li><a href="#">Hello Bye</a></li>
            <li><a href="#">Wassup Food</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Bleep bloop</a></li>
            <li><a href="#">jQuery HTML</a></li>
            <li><a href="#">CSS HTML AJAX</a></li>
            <li><a href="#">HTML5 Net Set</a></li>
            <li><a href="#">Node Easy</a></li>
            <li><a href="#">Listing Bloop</a></li>
            <li><a href="#">Contact HTML5</a></li>
            <li><a href="#">CSS3 Ajax</a></li>
            <li><a href="#">ET</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
</html>
